.MainSection__header {
  // We're using custom style instead of the
  // .section-header class because we want less bottom
  // padding and for text alignment to be responsive
  // and controlled by parent element
  margin-bottom: 2rem;
}

.MainSection__subtitle {
  max-width: 700px;
  margin: 0 auto;
}

.MainSection__image {
  max-width: 600px;
  margin: 0 auto;
}

.imagesPerso {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
}
.effet{
  width: 400px; height: 300px;
  margin: 0 auto 50px auto;
  box-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.effet img{
  position: absolute;
}