.FeaturesSectionAlt {
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  background-color: #fbfeff;
}

.FeaturesSectionAlt__container {
  max-width: 1000px;
}

.gradient{
  background: linear-gradient(0.25turn, #e66465, #9198e5);
}