.Navbar {
  // Override Bulma .navbar
  // Make it taller
  padding-left: auto;
  padding-right: auto;
  padding-top: auto;
  padding-bottom: auto;
  background: linear-gradient(0.25turn, #e66465, #9198e5);
  text-align: center;
}
