.card {
  box-shadow: 0 16px 48px #6a2323;
}
.Testimonials__column {
  display: flex;
  align-items: stretch;
}

.Testimonials__card {
  display: flex;
  align-items: stretch;
}

.Testimonials__card-content {
  display: flex;
  flex-direction: column;
  padding: 1.8rem;
}

.Testimonials__avatar {
  position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/*
* Si l'idée vous prend, il est possible de metre un image en entête des cards.
* Les parametre d'affichage de l'imega sont ci dessous.
*/
.Testimonials__image {
  border-radius: 50%;
  overflow: hidden;
}

.Testimonials__quote {
  margin-top: 40px;
  font-style: italic;
}

.Testimonials__info {
  margin-top: auto;
  padding-top: 40px;
}

.Perso {
  background: linear-gradient(0.90turn, #9198e5, #e66465);
}